<clr-alert [clrAlertAppLevel]="true">
  <clr-alert-item>
    <span class="alert-text">
      Congratulations, you have installed Clarity! Hahahah
    </span>
  </clr-alert-item>
</clr-alert>
<button
  class="btn btn-primary"
  (click)="showComponent('stockPriceListComponent')"
>
  Primary
</button>
<button class="btn btn-success" (click)="showComponent('stockPriceComponent')">
  Show Stock Price
</button>
<button class="btn btn-warning">Warning</button>
<button class="btn btn-danger">Danger</button>
<button class="btn btn-danger" disabled>Disabled</button>
<br /><br />
<button class="btn btn-outline">Regular</button>
<button class="btn btn-success-outline">Success-Outline</button>
<button class="btn btn-info-outline">Info</button>
<button class="btn btn-warning-outline">Warning</button>
<button class="btn btn-danger-outline">Danger</button>
<button class="btn btn-outline" disabled>Disabled</button>
<!-- <router-outlet></router-outlet> -->

<div id="comp-render" *ngIf="display == 'stockPriceComponent'">
  <app-show-stock-price></app-show-stock-price>
</div>
<div id="comp-render" *ngIf="display == 'stockPriceListComponent'">
  <app-show-stock-price></app-show-stock-price>
</div>
